$mainBgColor:#FCFCFE;

$headerLogoBgColor: black;
$headerLoginBgColor: #564b4b;
$headerTextColor: white;

$buttonHoverBgColor: dimgray;
$buttonHoverTextColor:#29F6CA;
$buttonTextColor:black;


$footerTextColor: white;
$footerBgColor: dimgray;

$blocksShadowColor:  rgba(0, 0, 0, 0.6);

$lightBorderColor: lightgray;

$itemElementsBgColor: dimgray;
$itemElementsColor: #29F6CA;