@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.search-panel{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:5px;
}

.search-panel__input{
    margin-right: 10px;
    border-radius: 5px;
    padding: 0 0 0 5px;
}

.search-panel__submit{
    @include buttonStyle();
}