@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.subheader{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  border: none;
}

.addCourse{
  @include buttonStyle();
}